.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 2rem;
  border: double 10px rgb(107, 235, 240);
  border-radius: 2px;
}

.formStep {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.label {
  font-size: 1.5rem;
  margin: .5rem;
  color: rgb(161, 84, 161);
}

.input {
  min-height: 50px;
  border-radius: 4px;
  padding-left: .5rem;
  background: none;
  border: solid .5px rgb(107, 235, 240);
  outline: none;
}

.button {
  align-self: center;
  width: 150px;
  height: 45px;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 2px;
  color: rgb(161, 84, 161);
  background: rgb(107, 235, 240);
  border: none;
  outline: none;
  cursor: pointer;
}

.messageError {
  width: 100%;
  margin: 0;
  color: rgb(161, 84, 161);
  text-align: right;
}